.backgroundContainer {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    max-height: 686px;
}

.backgroundImage {
    //position: absolute;
    rotate: 30deg;
    width: 1000px;
    height: 1000px;
}