.navlink {
    color: #ffffff;
    text-decoration: none;
    position: relative;
  
    &::after {
      content: "";  
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-image: none; 
      transition: background-image 0.3s ease, height 0.3s ease;
      display: block; 
    }
  
    &:hover,
    &:focus,
    &:active {
      &::after {
        background-image: url("/whiteline.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 5px;
      }
    }
  }
  
  .navlink__isActive {
    &::after {
      background-image: url("/whiteline.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 5px; 
    }
  }
  