.navlink {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px transparent solid;
    &__isActive {
        border-bottom: 1px solid #ffffff;
    }
    &:hover {
        border-bottom: 1px solid #ffffff;
    }
    &:focus {
        border-bottom: 1px solid #ffffff;
    }
}