.logincontainer {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    img {
        width: 150px;
        margin: 0px auto 10px auto;
        display: block;
    }
}
.loginform {
    padding: 10px;
    margin-bottom: 20px;
}

.createaccountbtn {
    background-color: #42b72a;
    max-width: 50%;
    margin: 0 auto 20px auto;
    &:hover {
        background-color: #4bdc2d;
    }
}