.aside {
   //flex-grow: 1;
    //width: 30%;
    //min-width: 300px;
    //width: 100%;
    width: 25em;
    padding: 10px;
    @media screen and (max-width: 1300px) {
        width: 100%;
    }
}

.hideOnMobile {
   @media screen and (max-width: 1300px) { 
      display: none;
   }

}