
html {
    display: flex;
    flex-direction: column;
    height: 100%;
    body {
        flex:1;
    }
}

header {
    nav {
        ul {
            li {
                a {
                    color: #ffffff !important;
                }
            }
        }
    }
}

main.light {
    .MuiPaper-root.MuiPaper-elevation.inverse {
        background-color: #F3F3F3;
        //color: #ffffff;
        
    }
}
main.dark {
    .MuiPaper-root.MuiPaper-elevation.inverse {
        background-color: #1E1E1E;
    }
}

.supereditor {
    display: inline-flex;
    width: 100%;
    //gap: 10px;
    //font-family: monospace;
    //line-height: 21px;
    //background: #282a3a;
    //border-radius: 2px;
    //padding: 20px 10px;
    .line-numbers {
        width: 20px;
        text-align: right;
        padding-top: 10px;
        background: #272822;
        span {
            counter-increment: linenumber;
            font-family: 'Barlow';
            font-size: .93em;
        }
        span::before {
            content: counter(linenumber);
            display: block;
            color: #506882;
            padding: 3px 0 0px 0;
        }
    }
      
    .w-tc-editor {
        width: 100%;
        .w-tc-editor-preview {
           padding: 0 !important;
           min-height: inherit !important;
           font-size: 1.15em !important;
            pre {
                word-wrap: break-word;
                white-space: pre-wrap;
                word-break: normal;
                line-height: inherit;
                padding: 10px !important;
                border-radius: 0;
                code {
                    caret-color: #ffffff;
                    font-family: 'Barlow';
                    font-size: 1.25em;
                    line-height: inherit;
                }
            }
        }
        textarea {
            caret-color: #ffffff;
            padding: 10px !important;
            overflow-y: hidden;
            min-height: inherit !important;
            min-width: 500px;
            outline: none;
            resize: none;
            font-family: 'Barlow' !important;
            font-size: 1.45em !important;
            word-wrap: break-word;
            white-space: pre-wrap;
            word-break: normal;
            line-height: inherit;
        }
    }
}


.fade-in-image{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  
  
  .opacity{
    opacity: 0;
  }
  
  .fade-in-image{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;;
  }
  
  .fade-in-line{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;;
  }
  
  
  @keyframes fadeIn {
    0%   {opacity: 0}
    100% {opacity: 1}
   }
  
   .slide-over{
    animation-name: slideOver;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }
  
   @keyframes slideOver {
    0%   {transform: translateX(30%)}
    100% {transform: translateX(0)}
   }
  
   .slide-up{
    animation-name: slideUp;
    animation-duration: .5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }
  
   @keyframes slideUp {
    0%   {transform: translateY(-10vh)}
    100% {transform: translateY(0)}
   }
  
   .slide-down{
    animation-name: slideDown;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }
  
  
   .slide-down-line{
    animation-name: slideDown;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }
  
   @keyframes slideDown {
    0%   {transform: translateY(-10vh)}
    100% {transform: translateY(0)}
   }
  
   .scale-image-up{
    animation-name: scaleUp;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }
  
   @keyframes scaleUp {
    0%   {transform: scale(1)}
    100% {transform: scale(1.1)}
   }
  
   .scale-image-down{
    animation-name: scaleDown;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   }
  
   @keyframes scaleDown {
    0%   {transform: scale(1.1)}
    100% {transform: scale(1)}
   }
  